<h1>{{title}}</h1>
<form method="POST">
    <fieldset>
        <div>
            <div>
                <label for="projectId">Project ID</label>
                <select name="projectId" id="projectId">
                    {{#each projectData}}
                        <option>{{this.projectId}}</option>
                    {{/each}}
                </select>
            </div>
            <div>
                <label for="deliveryId">Delivery ID Number</label>
                <input type="deliveryId" class="form-control" name="deliveryId" id="deliveryId">
            </div>
            <div>
                <label for="expectedDate">Expected Date</label>
                <input type="date" name="expectedDate" id="expectedDate" required>
            </div>
        </div>
        <button class="btn btn-primary">Save</button>
        <a href="/deliveries" class="btn btn-info">Back</a>
    </fieldset>
</form>