 <section id="Guild">     
      <p>Lets go on alittle Adventure... Click me</p>
      <div id="followingMouse">
          <img src="/images/testImage.png" alt="character With torch">
      </div>
    </section>
<div>
    <img src="/images/javaCodeTwo.png" alt="Java Code">
    <p id="hoverArea">Welcome to my domain....</p>
    <p id="forgotGuild" hidden="true"> You have forgot your guild</p>
    <p id="revealedText"> I'm a java base programmer that has turned a once hobby into a career. I have been 
        programing java as a hobby since java was well java 12.. Java programing has come a long way from time and age
        of the awt and swing to modern day java like spring  and javafx. Java is not the only programming code I know.
        C++, C#, Spring boot 3 and spring framework 6, are just a few that I know as well as HTML, CSS, Javascript (both 
        client and server side), rational databases (MySQL), and many more!
    </p>
</div>
<div>
    <p>Silver Moon gaming stuido is a creation of my own. It goes along with what my current project is. Which you can see and 
        learn more in the projects link. Our mission is to bring back the golden era of RPG gaming. Where a game wasnt built to have
        micro transactions or celebrity skins. 
    </p>
</div>