<p id="hoverArea">Welcome to my domain....</p>
<p id="revealedText"> I'm a java base programmer that has turned a once hobby into a career. I have been 
    programing java as a hobby since java was java 12.. Java programing has come a long way from time and age
    of the awt and swing to modern day java like spring and javafx.
</p>