<img src="/images/POS.jpg" alt="Photo of owner">
<p> Mike Kipp - Owner</p>
<p>Git hub repositories: https://github.com/shadowlord1012</p>
<p>LinkedIn: https://www.linkedin.com/in/mike-kipp-b84956322</p>