<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <nav id="headerNav">
      <a href="/">Home</a>
      <a href="/about">About Me</a>
      <a href="/projects">My Projects</a>
      <a href="/contact">Contact Me</a>
    </nav>
  </head>
  <body>
    {{{body}}}
  </body>
  <footer>
    <nav>
      <a href="/github">GitHub Projects</a>
      <a href="/LinkedIn">LinkedIn </a>
    </nav>
  </footer>
</html>
