<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" contecnt="noindex, nofollow"> 
    <link rel="stylesheet" href="/stylesheets/reset.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- jqueryScripts needed to run some of the js that is custom -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Custom script for all the pages once they are loaded -->
    <script src="/javascripts/js_All_Pages.js" defer></script> 
  </head>
  <header>
    <menu>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About Me</a></li>
    </menu>
    <div>
      <img src="/images/Logo.png" alt="Unkown logo">
    </div>
    <menu>
      <li><a href="/projects">My Projects</a></li>
      <!-- <li><a href="/updates">Project updates</a></li> -->
      <li><a href="/contact">Contact Me</a></li>
    </menu>
  </header>
  <body>  
    <main>
    <title>Sliver Moon Gaming Studio</title>
    {{{body}}}
    </main>    
  </body>
  <footer>
    <menu>
      <li>
        <img src="/images/githublogo.png" alt="Github logo">
        <a href="/github">GitHub Projects</a>
      </li>
      <li>
        <img src="/images/linkedinlogo.png" alt="Github logo"> 
        <a href="/LinkedIn">LinkedIn </a>     
      </li>
    </menu>
    <div>
      <img src="/images/Logo.png" alt="Company Logo">
    </div>
    <div id="Disclaimer">
      <p>Disclaimer: All images used in pre-production testing are not owned by me. They are owned by their 
        repectful companies include and not limited to Nintendo, and homebrew spriter resoures.
      </p>
    </div>
  </footer>
</html>
