<section>
    <div id="projectDiv">
        <img id="projectImage" src="/images/javaCodeOne.png" alt="Java Code">
        <div id="projectText">
            <p>The Image to the left is part of the data encryption for the Tile Map generator that is being untilized in a Java build RPG Engine.
            This snipit of code shows how the data files, that are created by the application, will be decoded back into the program. Using 
            encrypted data files prevents outside sources from tampering with the game code thus breaking the game for others in the future of play.            
            </p> 
            <p>The video clip to the right is the actual game engine working on the Javafx platform. This has taken me 
                roughly 6 months to properly tweek into the JavaFx platform from the older style of javax.swing.
            </p>   
            <p>I am hoping to have a semi working product within the next few months so stay tuned for more or follow me 
                On Github for project updates.
            </p>
        </div>
        <div id="gameVideo">
            <video autoplay muted loop>
                <source src="/videos/gameShort.mp4" type="video/mp4" alt="Game Play Video">
            </video>
        </div>
    </div>

</section>