body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#headerNav a {
  color: #00B7FF;
  text-decoration: none;
  padding: 5px 5px;
  border-right: 2px solid #00b700;
}

#headerNav a:last-child {
  border-right: none;
}
