<h1>{{title}}</h1>
<form method="POST">
    <fieldset>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="name">Material Name</label>
                    <input type="text" class="form-control" name="name" id="name" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="costperunit">Cost Per Unit</label>
                    <input type="number" name="costperunit" id="costperunit"  required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="orderamount">Amount Ordered</label>
                    <input type="number" name="orderamount" id="orderamount" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="amountused">Amount Used</label>
                    <input type="number" name="amountused" id="amountused" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="amountshipped">Amount Shipped</label>
                    <input type="number" name="amountshipped" id="amountshipped" required>
                </div>
                <div>
                    <label for="projectId" hidden>Project ID</label>
                    <input type="hidden" name="projectId" id="projectId">
                </div>
            </div>
    </fieldset>
    <button class="offset-3 btn btn-primary">Save Changes</button>    
    <a href="/accounts" class="offset-3 btn btn-info">Back</a>
</form>